global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'fastapi'
    static_configs:
      - targets: ['fastapi:8000']
  - job_name: 'golang'
    static_configs:
      - targets: ['golang:8080']